@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --green1: #02C39A;
  --green2: #0DAF94;
  --green3: #199C8E;
  --cyan: #248889;
  --purple3: #2F7483;
  --purple2: #3B617D;
  --purple1: #464D77;
  --purpleCard: #4A7A9D;
  --purpleCardSemiTransparent: rgba(74, 122, 157, 0.5);
  --purpleCardBorder: #426E8D;
  --purple1shadow: #626daa;
  --greenHighlist: #02F1BD;
  --textColor: #f8f8f8;
  --scrollBarThumb: #444B74;
  --scrollBarBackground: #1F7475;
}
/* scrollbar */
* {
  scrollbar-color: var(--scrollBarThumb) var(--scrollBarBackground);
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background-color: var(--scrollBarBackground);
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollBarThumb);
}
button, h1, h2, h3, p, footer {
  color: var(--textColor);
}
body, button {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}
/* hero */
.hero {
  background-color: var(--green1);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.blurp-hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 2;
  padding-left: 120px;
}
.blurp-hero h3, .blurp-hero h2, .blurp-hero h1{
  margin: 0;
  padding: 0;
}
.blurp-hero h3 {
  font-size: 32px;
  position: relative;
  bottom: 90px;
  left: 380px;
  background-color: var(--purple2);
  padding: 15px;
  border-radius: 20px 30px;
} 
.blurp-hero h1{
  font-size: 40px;
  position: relative;
  bottom: 10px;
  background-color: var(--purple2);
  padding: 15px;
  border-radius: 20px 30px;
}
.blurp-hero button{
  font-size: 32px;
  font-weight: 700;
  position: relative;
  bottom: -90px;
  left: 400px;
  background-color: var(--purple2);
  border: var(--purple3) 5px solid;
  padding: 15px;
  border-radius: 30px 20px;
}
.desktop-notice {
  display: block;
}
.mobile-notice {
  display: none;
}
.blurp-hero h2{
  font-size: 28px;
  position: relative;
  bottom: 350px;
  left: 60%;
  background-color: var(--cyan);
  padding: 15px;
  border-radius: 30px 20px 20px 30px;
}
.wave {
  position: relative;
}
.wave-1-svg {
  position: absolute;
  bottom: -25vh;
}
.wave-1 {
  width: 100vw;
  z-index: 1;
}
.wave-2-svg {
  position: absolute;
  bottom: -15vh;
}
.wave-2 {
  width: 100vw;
  z-index: 3;
}
/* About me */
.about-me {
  background-color: var(--purple2);
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.abt-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 30px;
}
/* About Me - image badges */
.abt-grid img {
  border: var(--purple1) 8px solid;
  align-self: center;
  justify-self: center;
  z-index: 3;
  transition: box-shadow 800ms ease-in-out;
}
.abt-grid img:nth-child(2) {
  border-color: var(--purple1);
  grid-column: 2;
  align-self: end;
}
.abt-grid img:nth-child(3) {
  grid-column: 3;
}
.abt-grid img:nth-child(4) {
  grid-column: 2;
  border-color: var(--purple2);
}
.abt-grid img:nth-child(5) {
  border-color: var(--purple2);
}
.abt-grid img:nth-child(2):hover, .abt-grid img:nth-child(3):hover {
  box-shadow: 0px 0px 15px var(--purple1shadow);
}
.abt-grid img:nth-child(4):hover, .abt-grid img:nth-child(5):hover {
  box-shadow: 0px 0px 10px var(--green1);
}
/* About Me - blurp info */
.abt-grid div {
  align-self: start;
  grid-row: 1 / span 2;
}
.blurp-abt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 2;
  padding-left: 120px;
  padding-top: 17vh; 
}
.blurp-abt h3, .blurp-abt p{
  margin: 0 0 60px 0;
  padding: 0;
}
.blurp-abt h3{
  font-size: 48px;
  background-color: var(--purple1);
  padding: 15px;
  border-radius: 30px;
  position: relative;
  left: 400px;
  bottom: 60px;
}
.blurp-abt p {
  font-size: 32px;
  font-weight: 500;
  width: 60%;
  background-color: var(--purple2);
  padding: 25px;
  border-radius: 50px 30px;
  position: relative;
  top: 20px;
}
.blurp-abt .highlight {
  color: var(--greenHighlist);
}
.blurp-abt i {
  font-size: smaller;
}
.wave-3-svg {
  position: relative; 
  bottom: 79vh;
  width: 100vw;
}
/* Projects */
.projects {
  background-color: var(--purple1);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.project-grid {
  margin: 50px 120px 0 120px;
  width: calc(100% - 240px);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr 2fr;
  gap: 60px;
  position: relative;
  z-index: 2;
}
.project-grid h3 {
  font-size: 48px;
  grid-column: span 3;
}
.project-title {
  width: 180px;
  justify-self: center;
  position: relative;
  left: 150px;
  background-color: var(--purple2);
  padding: 15px;
  border-radius: 20px 30px;
}
.project-grid > div {
  border-radius: 30px;
  border: var(--purpleCardBorder) 5px solid;
  border-radius: 30px;
  background-color: var(--purpleCard);
}
.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}
.title-card h3 {
  font-weight: 600;
  margin: 1.75em 0.5em 0.5em 0.5em;
  font-size: 54px;
  display: flex;
  gap: 0.5em;
}
.title-card p {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 18px 30px;
  background-color: var(--purpleCardBorder);
  border-radius: 0 0 20px 20px;
  height: 100%;
}
/* Discord Bot Gif */
.bg-0 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("/assests/discordBotDemo.gif");
  background-repeat: no-repeat;
  background-size: 150% 150%;
  background-position: 0% 100%;
  border-radius: 30px;
}
.bg-0::before {
  background-color: var(--purpleCardSemiTransparent);
  border-radius: 30px;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
/* Memory Game Gif */
.bg-1 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("/assests/memoryGameDemo.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 0%;
  border-radius: 30px;
}
.bg-1::before {
  background-color: var(--purpleCardSemiTransparent);
  border-radius: 30px;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
/* Food Tinder Gif */
.bg-2 {
  width: 100%;
  height: 100%;
  background-image: url("/assests/foodTinderDemo.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 30px;
}
.bg-2::before {
  background-color: var(--purpleCardSemiTransparent);
  border-radius: 30px;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.hover-effect a {
  position: absolute;
  bottom: 2%;
  left: 82%;
  padding: 0 25px;
}
.wave-4-svg {
  position: relative; 
  bottom: 90vh;
  width: 100vw;
  z-index: 1;
}
/* Contact */
.contact {
  background-color: var(--purple2);
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.contact-blurp {
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
  position: relative;
  z-index: 3;
}
.contact-blurp h3 {
  grid-column: span 3;
  font-size: 48px;
  justify-self: end;
  background-color: var(--cyan);
  padding: 15px;
  border-radius: 30px 20px;
}
.contact-blurp p {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  width: 50%;
  background-color: var(--green1);
  padding: 25px;
  border-radius: 50px 30px;
  /* grid alignment */
  grid-column: 3 / span 2;
  grid-row: 2;
  justify-self: center;
  /* outer alignments */
  position: relative;
  top: 32px;
}
.contact-me-button {
  grid-column: 3;
  justify-self: end;
  height: 50%;
  position: relative;
  top: 50px;
}
.contact-blurp button {
  font-size: 28px;
  font-weight: 700;
  background-color: var(--green1);
  /* border: none; */
  border: var(--green2) 5px solid;
  border-radius: 20px;
  padding: 15px;
  transition: all 500ms ease-in-out;
}
.contact-blurp button:hover {
  border-color: var(--green1);
  background-color: var(--green2);
}
.contact-blurp footer {
  font-size: 22px;
  font-weight: 700;
  grid-column: span 3;
  grid-row: 4;
  align-self: end;
  position: relative;
  left: 30px;
  bottom: calc(1vw - 1vh);
}
/* badges */
.contact-blurp a * {
  width: 100%;
}
.linkedIn-badge {
  width: 8em;
  height: 8em;
  padding: 15px;
  background-color: var(--cyan);
  font-size: 1.25em;
  /* grid alignment */
  grid-column: 1;
  /* outer alignment */
  position: relative;
  left: 280px;
  bottom: 180px;
}
.github-badge {
  width: 12em;
  height: 12em;
  padding: 5px;
  background-color: var(--green1);
  font-size: 1.25em;
  /* grid alignment */
  grid-column: 2;
  /* outer alignment */
  position: relative;
  left: 50px;
  top: 180px;
}
.resume-badge {
  width: 5em;
  height: 5em;
  padding: 8px;
  background-color: var(--green1);
  font-size: 1.5em;
  /* grid alignment */
  grid-column: 1;
  /* outer alignment */
  position: relative;
  left: 100px;
  bottom: 20px;
}
.mobile-socials {
  display: none;
}
.wave-5-svg {
  position: relative; 
  bottom: 85vh;
  width: 100vw;
}
.wave-6-svg {
  position: relative; 
  bottom: calc(50vw + 10vh);
  width: 100vw;
}
/* Laptop */
@media screen and (max-width: 1750px){
  /* hero section */
  .blurp-hero h3 {
    bottom: 60px;
    left: 300px;
  } 
  .blurp-hero h1{
    bottom: 10px;
    padding: 15px;
  }
  .blurp-hero button{
    bottom: -50px;
    left: 260px;
  }
  .blurp-hero h2{
    font-size: 18px;
    bottom: 32  0px;
  }
  /* about section */
  .blurp-abt h3{
    left: 240px;
  }
  .blurp-abt p {
    font-size: 25px;
    top: -30px;
    right: 50px;
  }
  /* project section */
  .project-grid {
    grid-template-rows: 200px 300px;
  }
  .title-card h3 {
    margin: 1.25em 0.5em 0.34em 0.5em;
    font-size: 48px;
  }
  .title-card p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 20px 20px;
    border-radius: 0 0 20px 20px;
    height: 100%;
  }
  .hover-effect a {
    position: absolute;
    bottom: 2%;
    left: 78%;
    padding: 0 25px;
  }
  /* contact section */
  .contact-blurp p {
    font-size: 24px;
    width: 70%;
    /* outer alignments */
    position: relative;
    top: 32px;
  }
  .contact-blurp button {
    font-size: 28px;
    position: relative;
    bottom: 25px;
  }
  .contact-blurp footer {
    font-size: 22px;
    left: 30px;
    bottom: 25px;
  }
  /* badges */
  .github-badge {
    font-size: unset;
    /* outer alignment */
    position: relative;
    left: 50px;
    top: 90px;
  }
  .linkedIn-badge {
    width: 8em;
    height: 8em;
    font-size: 16px;
  }
  .resume-badge {
    font-size: unset;
    /* outer alignment */
    position: relative;
    left: 100px;
    bottom: 50px;
  }
  .wave-5-svg {
    width: 150vw;
    right: 40vw;
  }
  .wave-6-svg {
    width: 100vw;
    bottom: calc(50vw + 65vh);
  }
}
/* Large Mobile */
@media screen and (max-height: 927px) and (max-width: 429px){ 
  .blurp-hero {
    padding-left: 0px;
  }
  .blurp-hero h3 {
    font-size: 28px;
    position: relative;
    bottom: 21vh;
    left: calc(50% - 150px);
    background-color: var(--cyan);
    padding: 15px;
  } 
  .blurp-hero h1{
    font-size: 24px;
    width: 60%;
    text-align: center;
    bottom: 50px;
    right: calc(50% - 225px);
    padding: 15px 45px;
  }
  .blurp-hero button{
    font-size: 22px;
    position: relative;
    bottom: -55px;
    left: calc(50% - 150px);
    padding: 15px;
  }
  .desktop-notice {
    display: none;
  }
  .mobile-notice {
    display: block;
  }
  .blurp-hero h2{
    font-size: 18px;
    bottom: calc(-20vh - 10px);
    left: calc(50% + 15px);
    background-color: var(--purple1);
  }
  .wave-1-svg {
    width: 250vw;
    position: relative;
    bottom: 80vh;
    right: 25vw;
  }
  .wave-2-svg {
    width: 250vw;
    position: relative;
    bottom: 100vh;
    right: 100vw;
  }
  /* About me */
  .abt-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 30px;
  }
  /* About Me-image badges */
  .abt-grid img {
    display: none;
  }
  /* About Me-blurp info */
  .abt-grid div {
    align-self: start;
    grid-row: 1;
  }
  .blurp-abt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    padding: 0 60px;
    padding-top: 6vh; 
  }
  .blurp-abt h3{
    font-size: 42px;
    background-color: var(--purple1);
    padding: 15px;
    border-radius: 30px;
    position: relative;
    left: 15vw;
    bottom: 3vh;
  }
  .blurp-abt p {
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    background-color: var(--purple2);
    padding: 25px;
    border-radius: 50px 30px;
    position: relative;
    top: calc(10vh - 70px);
    left: -5.5vw;
  }
  .wave-3-svg {
    width: 250vh;
    bottom: 90vh;
    right: 85vw;
  }
  /*Projects*/
  .project-grid {
    /* welp now its a flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 0;
    width: 100%;
    position: relative;
    z-index: 2;
  }
  .project-title {
    font-size: 42px;
    left: 25px;
    bottom: calc(5% + 7vw);
    width: 155px;
  }
  .project-grid h3 {
    font-size: 42px;
  }
  .project-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(30vh - 15px);
    width: calc(50% + 120px);
  }
  .remove-card {
    display: none;
  }
  .title-card h3 {
    margin: 0.75em 0.5em 0.25em 0.5em;
    font-size: 38px;
  }
  .title-card p {
    display: none;
  }
  .hover-effect a {
    left: 75%;
  }
  .wave-4-svg {
    position: relative; 
    bottom: 88vh;
    width: 450vw;
    right: 100vw;
  }
  /*Contact*/
  .contact {
    background-color: var(--purple2);
    width: 100vw;
    height: 100vh;
  }
  .contact-blurp {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .contact-blurp h3 {
    font-size: 42px;
    width: 225px;
    position: relative;
    left: 25%;
  }
  .contact-blurp p {
    /* styles */
    font-size: 24px;
    width: 70%;
    /* outer alignments */
    position: relative;
    top: 75px;
    left: 40px;
  }
  .contact-me-button {
    justify-self: end;
    height: 5%;
    width: 200px;
    top: 120px;
    left: 50px;
  }
  .contact-blurp button {
    font-size: 28px;
    font-weight: 700;
    background-color: var(--green1);
    /* border: none; */
    border: var(--green2) 5px solid;
    border-radius: 20px;
    padding: 15px;
    transition: all 500ms ease-in-out;
  }
  .contact-blurp footer {
    font-size: 18px;
    position: relative;
    left: -35px;
    bottom: calc(-10vw - 14vh);
  }
  /* badges */
  .contact-blurp a {
    color: white;
  }
  .contact-blurp a * {
    width: 100%;
  }
  .mobile-socials {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
  }
  .linkedIn-badge, .github-badge,  .resume-badge{
    display: none;
  }
  .wave-5-svg {
    position: relative; 
    bottom: 100vh;
    right: 400vw;
    width: 900vw;
  }
  .wave-6-svg {
    position: relative; 
    bottom: calc(50vw + 200vh);
    right: 300px;
    width: 550vw;
  }
}
/* Meidum Mobile */
@media screen and (max-height: 845px) and (max-width: 391px){ 
  /* Hero */
  .blurp-hero h1{
    font-size: 22px;
    width: 60%;
    padding: 15px 45px;
  }
  /* About Me */
  .blurp-abt p {
    font-size: 22px;
  }
  /*Contact*/
  .contact-blurp p {
    font-size: 22px;
    width: 70%;
    /* outer alignments */
    position: relative;
    top: 45px;
    left: 30px;
  }
  .contact-me-button {
    width: 175px;
    top: 95px;
    left: 50px;
  }
  .contact-blurp button {
    font-size: 24px;
  }
  .contact-blurp footer {
    font-size: 14px;
    position: relative;
    left: -50px;
    bottom: calc(-10vw - 10vh);
  }
  .mobile-socials {
    margin-bottom: 10px;
  }
}
/* Small Mobile */
@media screen and (max-height: 668px) and (max-width: 376px){ 
  /* Hero */
  .blurp-hero h1{
    font-size: 22px;
    width: 60%;
    padding: 15px 45px;
  }
  .blurp-hero {
    padding-left: 0px;
  }
  .blurp-hero h3 {
    font-size: 28px;
    position: relative;
    bottom: 21vh;
    left: calc(50% - 150px);
    background-color: var(--cyan);
    padding: 15px;
  } 
  .blurp-hero h1{
    font-size: 22px;
    width: 60%;
    text-align: center;
    bottom: 30px;
  }
  .blurp-hero h2{
    font-size: 18px;
    bottom: calc(-20vh + 20px);
    left: calc(50% - 15px);
    background-color: var(--purple1);
  }
  .wave-1-svg {
    bottom: 90vh;
  }
  .wave-2-svg {
    bottom: 120vh;
  }
  /* About Me */
  .blurp-abt p {
    font-size: 22px;
  }
  /*Contact*/
  .contact-blurp p {
    font-size: 20px;
    width: 70%;
    position: relative;
    top: 45px;
    left: 30px;
  }
  .contact-me-button {
    width: 170px;
    top: 75px;
    left: 50px;
  }
  .contact-blurp button {
    font-size: 22px;
  }
  .wave-6-svg {
    bottom: calc(50vw + 226vh);
  }
}